body {
  background:  #9be7d7
}

#musica1 {
    width: 100%;
               }

#musica2 {
    width: 100%;
               }

#musica3 {
    width: 100%;
               }

h1 {
  text-align: center
}

h2 {
  text-align: center;
}

#A música Gospel {
     color: blue;
     text-align:left;
}

#Gospel {
  color: rbg(158,108,15)
  text-align: right;
}

#Em inglês {
   color: red;
}
